/* Copyright 2018 Oliver Smith
   SPDX-License-Identifier: GPL-3.0-or-later

   This file is used for the listing of all blog posts (/blog).
   See page.css for the file used in single blog posts. */

.list-post {
    display: grid;
    grid-template-areas: ".            . title"
                         "date         . title"
                         "reading_time . title"
                         ".            . title";
    grid-template-columns: min-content 20px 1fr;
    grid-template-rows: 1fr
                        auto
                        auto
                        1fr;
    margin: 10px 0px;
}

.list-title {
    grid-area: title;
}

.list-date {
    grid-area: date;
    white-space: nowrap;
    font-size: 1rem;
}

.list-reading-time {
    grid-area: reading_time;
    color: gray;
    font-size: .8rem;
}

/* RESPONSIVENESS */
@media screen and (max-width: 37.5rem) {
    .list-post {
        grid-template-areas: "date  .     reading_time"
                             "title title title";
        grid-template-columns: min-content 10px 1fr;
        grid-template-rows: auto
                            auto;
        margin-bottom: 20px;
    }
    .list-reading-time {
        font-size: 1rem;
    }
}
