a.title {
    text-decoration: none;
    color: black;
}

a.title h1 img {
    height: 1.4em;
}

a.title h1 span {
    vertical-align: top;
}

div.menu ul {
    list-style: none;
    padding-left: 7px;
}

div.menu ul li {
    display: inline-block;
    padding-right: 1.3em;
}

div.menu ul li a {
    font-size: 1.2em;
    color: #444;
    text-decoration: none;
}

img.banner {
    margin-top: 8px;
}

p.intro {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-top: 0px;
}
