<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}postmarketOS{% endblock %}</title>

    <meta name="description" content="Aiming for a 10 year life-cycle for smartphones">
    <meta name="keywords" content="postmarketOS">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all">

    <link rel="canonical" href="https://postmarketos.org{{ request.path }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link href="{{ url_for('static', filename='css/tachyons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>

  <body class="homepage">
    <main class="mw8 center">
      <div class="cf ph2-ns">
        {% include 'header.html' %}
      </div>
    </main>
    {% block body %}
    {% endblock %}
  </body>
</html>
