{% extends 'base.html' %}

{% block title %}postmarketOS // {{blog_name}}{% endblock %}

{%block extra_link %}
<link rel="stylesheet" href="/static/css/blog.css">
{%endblock%}

{% block body %}

{% if blog_name == "blog" %}
<div class="separator"></div>
<div class="content alt">
    <h2>Releases, progress reports and more</h2>
    This is the place where we post short articles about important things
    happening in postmarketOS.
    An <a href="/blog/feed.atom">atom feed</a> is available for
    your favorite web feed reader. If you use the bleeding edge variant of
    postmarketOS, check out the <a href="/edge/">edge blog</a> too.
</div>
{% elif blog_name == "edge" %}
<div class="separator"></div>
<div class="content alt">
    <h2>Breaking updates in edge</h2>
    postmarketOS has two release channels, <i>edge</i> and <i>stable</i>. While
    <i>edge</i> gets shiny new features first, it also has breakage from time
    to time. This page has short posts about required manual interventions and
    ongoing regressions. An <a href="/edge/feed.atom">atom feed</a> is
    available for your favorite web feed reader.
</div>
{% endif %}
<div class="separator"></div>

{% for year, posts in year_posts.items() %}
<div class="content {% if loop.index is divisibleby 2 %}alt{% endif %}">
    <h2>{{ year }}</h2>
    {% for post in posts %}
    <div class="list-post">
        <span class="list-title"><a href="{{ post.url }}">{{ post.title }}</a></span>
        <span class="list-date">{{ post.date.strftime('%Y-%m-%d') }}</span>
        <span class="list-reading-time">({{ post.reading_time }} min)</span>
    </div>
    {% endfor %}
</div>
{% if not loop.last %}
<div class="separator"></div>
{% endif %}
{% endfor %}
{% endblock %}
