<header>
    <a class="title" href="{{ url_for('home') }}">
        <h1 class="f2 lh-title branding">
            <img src="{{ url_for('static', filename='img/recycle.png') }}">
            <span>postmarketOS</span>
        </h1>
    </a>
    <div class="menu">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="https://wiki.postmarketos.org">Wiki</a></li>
            <li><a href="{{ url_for('blog') }}">Blog</a></li>
        </ul>
    </div>
</header>
