<header class="dt pv3 w-100">
    <a class="title fl link" href="{{ url_for('home') }}">
        <div>
            <img class="v-mid" src="{{ url_for('static', filename='img/recycle.png') }}">
            <h1 class="dib v-mid pl1 black">postmarketOS</h1>
        </div>
    </a>
    <div class="topmenu fr">
        <ul class="f3">
            <li class="dib"><a class="link dim pr3" href="{{ url_for('home') }}">Home</a></li>
            <li class="dib"><a class="link dim pr3" href="{{ url_for('blog') }}">Blog</a></li>
            <li class="dib"><a class="link dim pr3" href="https://wiki.postmarketos.org">Wiki</a></li>
            <li class="dib"><a class="link dim pr3" href="https://github.com/postmarketOS">Github</a></li>
        </ul>
    </div>
</header>
