{% extends 'base.html' %}

{% block title %}
postmarketOS // real Linux distribution for phones
{% endblock %}

{%block extra_link %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/page.css">
{%endblock%}

{% block body %}
<div class="content">
	<div class="start-banner-grid">
		<h1 class="start-banner-text">The Linux distribution for mobile devices and more…</h1>
		<div class="start-banner">
			<picture>
				<source srcset="/static/img/2024-04-redesign/banner.webp" type="image/webp">
				<img src="/static/img/2024-04-redesign/banner.png" alt="">
			</picture>
		</div>
	</div>
	<h2>
		User Interfaces
	</h2>
	<div class="separator"></div>
	<div class="start-ui-list">
		<div>
			<a href="https://www.gnome.org/">
				<picture>
				  <source srcset="/static/img/2024-04-redesign/gnome-dark.svg" media="(prefers-color-scheme:dark)">
				  <img src="/static/img/2024-04-redesign/gnome.svg" alt="GNOME" style="aspect-ratio: 402 / 488;">
				</picture>
			</a>
		</div>
		<div>
			<a href="https://kde.org/">
				<img src="/static/img/2024-04-redesign/kde.svg" alt="KDE" style="aspect-ratio: 44 / 60;">
			</a>
		</div>
		<div>
			<a href="https://phosh.mobi/">
				<img src="/static/img/2024-04-redesign/phosh.png" alt="Phosh" style="aspect-ratio: 1451 / 1166;">
			</a>
		</div>
		<div>
			<a href="https://sxmo.org/">
				<picture>
				  <source srcset="/static/img/2024-04-redesign/sxmo-dark.png" media="(prefers-color-scheme:dark)">
				  <img src="/static/img/2024-04-redesign/sxmo.png" alt="SXMO" style="aspect-ratio: 415 / 100;" class="sxmo">
				</picture>
			</a>
		</div>
		<div class="inline-button">
			<a href="https://wiki.postmarketos.org/wiki/Category:Interface">and more…</a>
		</div>
	</div>
	<h2>
		About
	</h2>
	<div class="start-about">
		We are sick of not receiving updates shortly after
		buying new phones. Sick of the walled gardens deeply
		integrated into Android and iOS. That's why we are
		developing a sustainable, privacy and security focused
		free software mobile OS that is modeled after
		traditional Linux distributions. With privilege
		separation in mind.<br>
		<br>
		Let's keep our devices useful and
		safe until they physically break!<br>
		<br>
		<div class="inline-button">
			<a href="/explore/">
				Explore
			</a>
		</div>
	</div>
	<h2>What Others Say</h2>
	<div class="start-about">
		<div class="quote">
			postmarketOS revolutionizes smartphone hacking
		</div>
		<div class="quote-source quote-margin-bottom">
		&mdash; <a href="https://drewdevault.com/2021/11/26/postmarketos.html">Drew DeVault</a>, FLOSS pioneer
		</div>
		<div class="quote">
			 I think it's really amazing what you do. [...] I have also always
			 thought that it was a goal to have spin-offs or distros that are
			 derived from Alpine, and we have that with postmarketOS.
		</div>
		<div class="quote-source quote-margin-bottom">
		&mdash; <a href="https://cast.postmarketos.org/episode/30-Interview-Natanael-Copa-Alpine-Linux/#3574.0">Natanael Copa</a>, Alpine Linux founder
		</div>
		<div class="quote">
			I feel like every project that's kind of in the Linux Mobile space
			has some sort of connection to postmarketOS. [...] For us in KDE,
			having always supported Plasma Mobile from its inception, even
			before I started contributing, to now also helping provide all
			the resources we use for development.
		</div>
		<div class="quote-source quote-margin-bottom">
		&mdash; <a href="https://cast.postmarketos.org/episode/40-Interview-Devin-Lin-Plasma-Mobile/#1830.0">Devin Lin</a>, Plasma Mobile lead developer
		</div>
		<div class="quote">
			The enthusiasts behind the project are hard at work to port
			drivers for devices to the mainline Linux kernel. This ensures that
			devices can be used after vendors do not provide an up-to-date
			operating system anymore.
		</div>
		<div class="quote-source quote-margin-bottom">
			&mdash; <a href="https://www.youtube.com/watch?v=Lx12lqsAyP0&t=155s">
				Keywan Tonekaboni</a>, c't (translated)
		</div>
		<div class="quote">
			With the widespread move to mobile devices,
			users lose control over their computing
			devices. [postmarketOS] gives us the ability to
			run code that we can read and modify on these
			devices.
		</div>
		<div class="quote-source">
		&mdash; <a href="https://hackaday.com/2019/01/17/postmarketos-turns-600-days-old/">Eric Evenchick</a>, Hackaday
		</div>
</div>

{% endblock %}
