<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;URL={{ url }}">
    <style type="text/css">:root { color-scheme: light dark; }</style>
  </head>
  <body>Redirecting to <a href="{{ url }}">{{ url }}</a>...</body>
</html>
